In [1]:
import numpy as np
import pandas as pd

In [2]:
# Generate random user profiles
np.random.seed(42)
num_users = 100
names = ['John', 'Jane', 'Bob', 'Alice', 'Charlie', 'David', 'Emily', 'Frank', 'Grace', 'Henry']
last_names = ['Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis', 'Miller', 'Wilson', 'Moore', 'Taylor']
jobs = ['software engineer', 'data analyst', 'marketing manager', 'sales representative', 'teacher', 'doctor', 'chef', 'journalist', 'artist', 'athlete']
cities = ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Seattle', 'Boston', 'Austin', 'Miami', 'Denver', 'Atlanta']
purposes = ['vacation', 'business', 'family visit', 'adventure', 'cultural', 'religious', 'honeymoon', 'wellness', 'sports', 'education']
companions = ['alone', 'spouse/partner', 'family', 'friends', 'colleagues', 'other']

In [3]:
#Create dictionaries for data features :
jobs_1 = [(0,'software engineer'), (1,'data analyst'), (2,'marketing manager'), (3,'sales representative'), (4,'teacher'), (5,'doctor'), (6,'chef'), (7,'journalist'), (8,'artist'), (9,'athlete')]
jobs_dict = dict(jobs_1)

cities_1 = [(0,'New York'), (1,'San Francisco'), (2,'Los Angeles'), (3,'Chicago'), (4,'Seattle'), (5,'Boston'), (6,'Austin'), (7,'Miami'), (8,'Denver'), (9,'Atlanta')]
cities_dict = dict(cities_1)

travel_purpose_1 = [(0,'vacation'), (1,'business'), (2,'family visit'), (3,'adventure'), (4,'cultural'), (5,'religious'), (6,'honeymoon'), (7,'wellness'), (8,'sports'), (9,'education')]
travel_purpose_dict = dict(travel_purpose_1)

travel_companions_1 =  [(0,'alone'), (1,'spouse/partner'), (2,'family'), (3,'friends'), (4,'colleagues'), (5,'other')]
travel_companions_dict = dict(travel_companions_1)

In [4]:
jobs2 = list(jobs_dict.keys())
cities2 = list(cities_dict.keys())
travel_purpose2 = list(travel_purpose_dict.keys())
travel_companions2 = list(travel_companions_dict.keys())

In [5]:
user_Id = ['#' + str(i) for i in range(100)]

In [6]:
names_list = [np.random.choice(names) + ' ' + np.random.choice(last_names) for i in range(num_users)]
mails = [name.lower().replace(' ', '.') + '@example.com' for name in names_list]
Age = [np.random.randint(10, 70) for i in range(num_users)]
job_list = [np.random.choice(jobs2) for i in range(num_users)]
city_list = [np.random.choice(cities2) for i in range(num_users)]
freq_list = [np.random.randint(0, 14) for i in range(num_users)]
purpose_list = [np.random.choice(travel_purpose2) for i in range(num_users)]
companion_list = [np.random.choice(travel_companions2) for i in range(num_users)]

In [7]:
# Create a pandas DataFrame to store the user profiles
df = pd.DataFrame({'User_Id':user_Id ,'name': names_list, 'mail': mails, 'Age': Age,
                   'job': job_list, 'city': city_list, 'travel_frequency': freq_list,
                   'travel_purpose': purpose_list, 'travel_companions': companion_list})

In [8]:
# Print the first few rows of the DataFrame
df.head()

,User_Id,name,mail,Age,job,city,travel_frequency,travel_purpose,travel_companions
0,#0,Emily Jones,emily.jones@example.com,31,3,3,6,7,0
1,#1,Frank Brown,frank.brown@example.com,20,7,5,3,9,1
2,#2,Emily Taylor,emily.taylor@example.com,57,7,3,9,8,0
3,#3,Bob Miller,bob.miller@example.com,25,6,2,4,1,2
4,#4,Frank Brown,frank.brown@example.com,42,2,6,1,9,4

In [9]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

# Select the columns to cluster on
columns_to_cluster = ['Age', 'travel_frequency','job','city','travel_purpose','travel_companions']

# Standardize the data
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df[columns_to_cluster])

# Perform k-means clustering with 4 clusters
num_clusters = 4
kmeans = KMeans(n_clusters=num_clusters)
kmeans.fit(scaled_data)

# Add the cluster labels to the DataFrame
df['cluster'] = kmeans.labels_

# Print the first few rows of the DataFrame with the cluster labels
df.head()

,User_Id,name,mail,Age,job,city,travel_frequency,travel_purpose,travel_companions,cluster
0,#0,Emily Jones,emily.jones@example.com,31,3,3,6,7,0,1
1,#1,Frank Brown,frank.brown@example.com,20,7,5,3,9,1,1
2,#2,Emily Taylor,emily.taylor@example.com,57,7,3,9,8,0,1
3,#3,Bob Miller,bob.miller@example.com,25,6,2,4,1,2,3
4,#4,Frank Brown,frank.brown@example.com,42,2,6,1,9,4,0

In [10]:
# Cluster the scaled data using KMeans
kmeans = KMeans(n_clusters=3, random_state=42)
kmeans.fit(scaled_data)

# Add cluster labels to the DataFrame
df['cluster'] = kmeans.labels_

# Print the first few rows of the DataFrame
print(df.head())

  User_Id          name                      mail  Age  job  city  \
0      #0   Emily Jones   emily.jones@example.com   31    3     3
1      #1   Frank Brown   frank.brown@example.com   20    7     5
2      #2  Emily Taylor  emily.taylor@example.com   57    7     3
3      #3    Bob Miller    bob.miller@example.com   25    6     2
4      #4   Frank Brown   frank.brown@example.com   42    2     6

   travel_frequency  travel_purpose  travel_companions  cluster
0                 6               7                  0        2
1                 3               9                  1        2
2                 9               8                  0        2
3                 4               1                  2        1
4                 1               9                  4        2